#pagina_login {
    background-image: url('../assets/image/trem_de_fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
body{
    background-color: #f2f2f2;
}

#container {
    background-color: rgba(114, 13, 13, 0.817) !important;
    border-radius: 15px;
    padding: 30px;

}
.button_login{
    background: linear-gradient(90deg, #b34f4f, #9c2626);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
}

p {
    text-align: center;
    line-height: 1.6;
    font-size: 16px;
    max-width: 700px;
    margin: 0 auto 20px auto;
}

input,
textarea {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
}

#titulo {
    color: rgb(228, 219, 212) !important;
}

#subtitulo {
    color: rgb(218, 209, 201) !important;
}

.form-label {
    color: rgb(218, 209, 201) !important;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background-color: #670303;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
#titulo_adicionar {
    padding-top: 20px;
}
#imagemUsuario {
    margin-right: 20;
    margin-left: 20;
    width: 65px;
    height: 50px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    padding: 16px 22px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
#imagem_logo {
    width: 100%;
    width: 200px;
    height: 200px;
    align-items: center;
}
.formulario {
    background: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
    margin-top: 60px;
    margin-left:60px;
    margin-right:60px;
    font-size: 17px;
}
.card-permissao {
    background: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    height: 100%;
}
.card-permissao.ativo {
    background: #e7cfcf;
    border: 2px solid #8b0000;
}
.card-permissao p {
    font-size: 14px;
    color: #555;
    margin: 5px 0 0 0;
}

.tabela th{
    background-color: #7b0000;
    color: white;
    padding: 12px;
}       
.tabela{
    border-collapse: collapse;
}
.tabela td{
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
  
#botaoCadastro{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}
#noticias{
    background-color: #ffffff ;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.096);
    border-radius: 25;
    margin-left: 50;
    padding-right: 110;
    align-items:flex-start;
}
#blocoInfo{
    background-color: #ffd7d7;
    margin: 15px;
    margin-left: 50;
    margin-right: 0%;
    padding-left: 20;
    padding-right: 20;
    border-radius: 20px;
    text-align: center;
    border-style: solid;
    border-color: #8b0000;
}
#botaoadicionar{
    background-color: #7b0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.filtros button{
    background-color: #7b0000;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
}
.card-total{
    background-color: white;
    width: 150px;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}
.cards{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.filtros{
    display: flex;
    align-items: center;
    gap: 15px;
}
#pHome{
    text-align: center;
    margin-bottom: 5;
    font-size: 20;
    margin-top: 0%;
}

#p2Home{
    text-align: center;
    margin-bottom: 5;
    font-size: small;
    margin-top: 0%;
}

#pAlerta{
    text-align: justify;
    background-color: #ff02026e;
    border-radius: 10px;
    padding: 5;
    border: 2px solid rgb(253, 2, 2);
}

#alert{
    text-align: justify;
    background: #8b0000;
    border-radius: 20px;
}
#table{
    text-align: justify;
    background: #8b0000;
    border-radius: 50px;

}
.table th{
    background-color: #7b0000;
    color: white;
    padding: 12px;

}